.new_login
  %h2 Please Login
  = form_tag session_path do |f|
    %fieldset
      = label_tag :login, "Username / Email"
      = text_field_tag  :login
      %br/
      = label_tag :password, "Password"
      = password_field_tag :password
      %br/
      .submit
        = submit_tag 'Login'
        %br/
      %div
        = link_to 'Register for an account', new_user_path
        |
        = link_to 'Forgot my password', forgot_password_new_user_path
