.form
  = form_for @opening do |f|
    = f.error_messages
    %fieldset
      = f.label :headline
      = f.text_field :headline
      %br/
      = f.label :body
      = f.text_area :body
      .submit
        = submit_tag 'Submit Opening'
