= error_messages_for :opening
.form
  - form_for @opening do |f|
    %fieldset
      %legend
      %br/
      = f.label :headline
      = f.text_field :headline
      %br/
      = f.label :body
      = f.text_area :body
      .submit
        = submit_tag 'Submit Opening'
