%li[opening]
  %h3
    = opening.headline
    = emdash
    = opening.created_at.to_s(:mdy)
  .body
    = mup opening.body
  %h4
    - if opening.user.gravatar_email.present?
      .gravatar{ :style => "background-image: url(#{gravatar_url(opening.user.gravatar_email, :size => 35)})" }
    = mail_to opening.user.email, "Contact #{opening.user.full_name}", :encode => 'javascript'
  - if (opening.user && i_am(opening.user)) || current_user.admin?
    .control
      [ #{link_to "Edit", edit_opening_path(opening)} #{link_to "Delete", opening_path(opening), :method => :delete, :confirm => 'Are you sure?'} ]
