%h2= "Help Wanted"
= error_messages_for 'opening'
.form
  - form_for @opening do |f|
    %fieldset
      %legend
      %div
        %label= "Headline "
        %br/
        = f.text_field :headline
      %div
        %label= "Body"
        %br/
        = f.text_area  :body
      .submit
        = submit_tag 'Send request'
