The following gig was posted by #{ @opening.user.full_name } at or around #{ Time.now.to_s(:short) }:

Blurb: #{ @opening.headline }

Body: 

== --
= @opening.body
== --

Contact: #{ @opening.user.email }


== ----
If you don't want to receive these notifications, set your mail filters appropriately. You can do that, right?
