The following event was posted by #{@event.user.full_name} (#{@event.user.login}) at or around #{Time.now.to_s(:short)}:

#{@event.headline}

= "--"
#{@event.body}
= "--"

Contact: #{@event.user.email}
