.introduction
  %h2= "Sign Up"
  .signup
    Become a member of the Ruby Users of Minnesota Group. Membership provides several benefits on this website, and helps you connect with local Ruby developers.
.form{ :title => "Create Account" }
  - form_for :user, :url => users_path, :html => { :id => 'new_user' } do |f|
    = error_messages_for 'user'
    %fieldset
      = f.label :firstname, 'First Name'
      = f.text_field :firstname, :class => 'title'
      %br/
      = f.label :lastname, 'Last Name'
      = f.text_field :lastname, :class => 'text'
      %br/
      = f.label :login, 'Username'
      = f.text_field :login, :class => 'text'
      %br/
      %label Email
      = f.label :email
      = f.text_field :email, :class => 'text'
      %br/
      = f.label :password
      = f.password_field :password, :class => 'text'
      %br/
      = f.label :password_confirmation, 'Confirm Password'
      = f.password_field :password_confirmation, :class => 'text'
      %br/
      - unless Rails.env.development?
        %div= get_captcha
      .submit
        = submit_tag "Sign Up"
        = link_to "Cancel", new_session_path, :class => 'cancel'
