.introduction
  %h2 Sign Up
  .signup
    Become a member of the Ruby Users of Minnesota Group. Membership provides several benefits on this website, and helps you connect with local Ruby developers.
.form{ :title => "Create Account" }
  = form_for @user, :html => { :id => 'new_user' } do |f|
    = f.error_messages
    %fieldset
      = f.label :firstname, 'First Name'
      = f.text_field :firstname, :class => 'title'
      %br/
      = f.label :lastname, 'Last Name'
      = f.text_field :lastname, :class => 'text'
      %br/
      = f.label :login, 'Username'
      = f.text_field :login, :class => 'text'
      %br/
      = f.label :email
      = f.text_field :email, :class => 'text'
      %br/
      = f.label :password
      = f.password_field :password, :class => 'text'
      %br/
      = f.label :password_confirmation, 'Confirm Password'
      = f.password_field :password_confirmation, :class => 'text'
      %br/
      #recaptcha
        = recaptcha_tags if Rails.env.production?
      .submit
        = submit_tag "Sign Up"
        = link_to "Cancel", new_session_path, :class => 'cancel'
