%ul
  %li= link_to "<strong>Home</strong><p>Welcome and Events</p>".html_safe,       root_path,           :class => ('selected' if current_page? root_path)
  %li= link_to "<strong>Members</strong><p>People and Projects</p>".html_safe,   projects_path,       :class => ('selected' if current_page? projects_path)
  %li= link_to "<strong>For Hire</strong><p>Developers for hire</p>".html_safe,  for_hires_path,      :class => ('selected' if current_page? for_hires_path)
  %li= link_to "<strong>Need Help?</strong><p>Seeking developers</p>".html_safe, openings_path,       :class => ('selected' if current_page? openings_path)
  %li= link_to "<strong>Sponsors</strong><p>Community Supporters</p>".html_safe, sponsors_path,       :class => ('selected' if current_page? sponsors_path)
  %li= link_to "<strong>Offers</strong><p>Offers for Rubyists</p>".html_safe,    special_offers_path, :class => ('selected' if current_page? special_offers_path)
