= render 'shared/logged_in_as' if logged_in?
#navbar
  #links
    %ul
      - if current_user
        %li.members_list
          = link_to "Member List", users_path
          #users_size{ :title => 'Number of members' }= User.verified.count
        %li= link_to "Help Wanted", openings_path
        %li= link_to "My Events", user_index_events_path
        %li= link_to 'Edit My Account', edit_user_path(current_user)
        - if current_user.admin?
          %li= link_to "Admin", admin_index_path
        %li= link_to "Logout", session_path, :method => 'delete'
      - else
        %li= link_to "Join", new_user_path
        %li= link_to "Login", new_session_path
  -##calendar
    -#%h4= link_to "Meeting Calendar", "http://www.google.com/calendar/embed?src=4g380qh7p0taroueuulfajauck%40group.calendar.google.com&ctz=America/Chicago", :title => "View our meeting dates in Google Calendar.", :alt => "View our meeting dates in Google Calendar."
  #register
    .next-meeting
      %h3 Register now for the next meeting
      <a class="unii-listing-button unii-medium unii-pink" href="https://www.uniiverse.com/listings/ruby-users-of-mn-minneapolis-registration-TJ25Q">Book it!</a>
      <script type="text/javascript" src="https://www.uniiverse.com/embed.js"/></script>

  #email_list
    %p
      #{ link_to "Our mailing list is hosted on Google Groups", 'http://groups.google.com/group/rubymn?hl=en', :title => 'Visit the Ruby.MN Google Group', :alt => 'Visit the Ruby.MN Google Group' } and is the primary way to discuss Ruby with our members.
    = form_tag "http://groups.google.com/group/rubymn/boxsubscribe", :id => 'subscribe' do
      %fieldset
        = hidden_field_tag :hl, "en"
        %div
          = label_tag :email, 'Subscribe By Email'
          %br/
          = text_field_tag :email
        %div
          = submit_tag "Subscribe"
  #twitter
    %h4
      = link_to 'http://twitter.com/rubyMN' do
        = image_tag 'rumlogo.png', :size => '40x40', :alt => 'RubyMN', :id => 'rubymn_logo_twitter'
        Recent Tweets From @RubyMN
    #tweets
