%h2= "Welcome to RUM"
%div
  <em>This is the home of Ruby Users of Minnesota</em> &mdash; a fine group of Ruby enthusiasts from around the Twin Cities metro area, or pretty much wherever they feel like driving from.
%div
  You'll want to:
  %ul
    %li= "#{link_to 'Log in', new_session_path} or #{link_to 'Sign up', new_user_path} to use any of the nifty features."

- if @events.any?
  %h2= "Announcements"
  %p= link_to "Add a New Event", new_event_path unless current_user.nil?
  %div= render :partial => "events/event", :collection => @events