%li
  .event
    - if event.scheduled_time
      %h3= event.headline
      .time= event.scheduled_time.to_s(:short)
    - if current_user and (event.user == current_user || current_user.admin?)
      = link_to "Delete", event_path(event), :method=>:delete
      = link_to "Edit", edit_event_path(event)
    - if current_user and current_user.admin?
      = link_to "Details", event_path(event)
    %h4
      - if event.user == current_user
        = event.approved? ? "Approved" : "Not Approved Yet"
    .content
      = mup(event.body)