%h2= "New Event"
.form
  - form_for :event, :url => events_path do |f|
    = error_messages_for 'event'
    %fieldset
      %legend
      %div
        %label= "Headline"
        %br/
        = f.text_field  :headline
      %div
        %label= "Time &amp; Date"
        %br/
        = f.datetime_select  :scheduled_time
      %div
        %label= "Details"
        %br/
        = f.text_area  "body"
      .submit
        = submit_tag "Submit event"
