%h2= "New Event"
.form
  - form_for :event, :url => events_path do |f|
    = error_messages_for 'event'
    %fieldset
      %legend
      %label= "Headline"
      = f.text_field  :headline
      %br/
      %label= "Time &amp; Date"
      .select_container
        = f.datetime_select  :scheduled_time
      %br/
      %label= "Details"
      = f.text_area  "body"
      %br/
      .submit
        = submit_tag "Submit event"
