.introduction
  %h1 Event Detail

  %h2
    = h @event.headline
    %br/
    = @event.scheduled_time.to_s(:long_meridian)

  %p
    Created by:
    = mail_to(@event.user.email, h(@event.user.login), :encode => 'javascript')
    %br/
    Created at: 
    = @event.created_at
  %p
    = mup h(@event.body)
