%h1
  Event Detail

%h2
  = h @event.headline
  %br/
  = @event.scheduled_time

%p
  Created by:
  = mail_to(@event.user.email, h(@event.user.login))
  %br/
  Created At: 
  = @event.created_at.to_s
%p
  =  mup h(@event.body)
