.introduction
  %h1 Our Sponsors
  %p We are fortunate to have great community sponsors that provide refreshments for our monthly meetings.  Please take a look at what they have to offer and remeber to say "thanks" when you see them at our meetings.  Also be sure to checkout the <a href="/special-offers"><strong>Offers page</strong></a> for services from our sponsors, tailored specifically for Ruby Users of Minnesota.

.sponsors
  %h2.current-sponsor 
    Current Sponsor
  %ul
    - @current_sponsors.each do |s|
      %li.sponsor
        = link_to image_tag("sponsors/#{s.logo_image_small}", alt: s.name), 
          "http://#{s.contact_url}", target: '_blank'
        .info
          %p= s.description


%h2.past-sponsors Past Sponsors
.past-sponsors
  %ul
    - @past_sponsors.each do |s|
      %li.sponsor
        = link_to image_tag("sponsors/#{s.logo_image_small}", alt: s.name), 
          "http://#{s.contact_url}", target: '_blank'
