%fieldset
  = f.label :title
  = f.text_field :title
  %br/
  = f.label :url, 'URL'
  = f.text_field :url
  %br/
  = f.label :source_url, 'Source URL'
  = f.text_field :source_url
  %br/
  = f.label :description
  = f.text_area :description
  %br/
  .submit
    = submit_tag f.object.new_record? ? 'Submit Project' : 'Update Project'
