%li
  .project
    %h1= h project.title
    .author
      - if project.user.gravatar_email.present?
        .gravatar{ :style => "background-image: url(#{gravatar_url(project.user.gravatar_email, :size => 35)})" }
      #{project.user.full_name}
    .project_url
      Project URL:
      = link_to project.url, project.url
    - if project.source_url.present?
      .source_url
        Source URL:
        = link_to project.source_url, project.source_url

    .description= mup project.description
    - if i_am project.user
      %br/
      .control
        [ #{link_to "Edit", edit_project_path(project)} #{link_to "Delete", project, :method => :delete, :confirm => 'Are you sure?'} ]
