.introduction
  %h1 Community Resources

  %p There is always a fast exchange of knowledge and ideas in the Ruby community. This page will help you find the answers you're looking for, whether you're just getting started or looking to contribute your own talents to the community. If you're completely new to Ruby, take some time to #{link_to 'Try Ruby!', 'http://tryruby.org/levels/1/challenges/0'}
.resources
  %ul
    %li
      .sponsor
        %h2 Rails Bridge
        %p Looking to get your hands dirty in some Rails? Rails Bridge is all about introducing more diversity in the programming world. Whether you're a professional or novice, #{link_to 'Rails Bridge', 'http://railsbridge.org/en'} will help you get up and running with your first Ruby on Rails app. Below are a few links to get started with:
        %ul
          %li
            = link_to 'Install Fest', 'http://installfest.railsbridge.org/installfest/'
          %li
            = link_to 'Getting Started With Rails', 'http://curriculum.railsbridge.org/curriculum/getting_started?back=tools%23step'
    %li
      .sponsor
        %h2 Mailing Lists/News Letters
        %p If you want to be part of the bustle of the ongoing Ruby discussion, or stay up to date on new topics in the Ruby community.
        %ul
          %li
            = link_to 'Ruby Weekly', 'http://rubyweekly.com/'
          %li
            = link_to 'Ruby Talk - And Other Discussions', 'http://www.ruby-lang.org/en/community/mailing-lists/'
    %li
      .sponsor
        %h2 Other Helpful Links
        %p Nick Sieger took some time to compile a list of #{link_to 'helpful links', 'https://github.com/nicksieger/railsbridgemn/wiki'} aspiring programmers.
        %ul
          %li
            = link_to 'Ruby Koans - Learn Ruby', 'http://rubykoans.com/'
          %li
            = link_to 'Rails For Zombies', 'http://railsforzombies.org/'
          %li
            = link_to 'Rails Tutorial', 'http://ruby.railstutorial.org/'
          %li
            = link_to 'Git Immersion - Source Control', 'http://gitimmersion.com/'
