.introduction
  %h1 Special Offers

  %p Our sponsors provide special offers to Ruby Users of Minnesota members

.special-offers
  %ul
    %li{ :style => "height:220px" }
      .sponsor
        .thumb{ :style => "float:left; padding-right:10px;padding-bottom:15px" }
          = link_to(image_tag('offers/RubyMN_FNDTN.png'), '/downloads/RubyMN_FNDTN.pdf', :target => '_blank')
        .info
          %h2
            = link_to('The Foundation Hardware Repair Labor Offer', '/downloads/RubyMN_FNDTN.pdf', :target => '_blank')
          %p Ruby.MN members receive 10% off any hardware repair labor at our Depot.
    %li
      .sponsor
        .thumb{ :style => "float:left; padding-right:10px;padding-bottom:15px" }
          = link_to(image_tag('offers/RubyUsersColocation__sheet.png'), '/downloads/RubyUsersColocation__sheet.pdf', :target => '_blank')
        .info
          %h2
            = link_to('Ruby Users of Minnesota Server Colocation Packages', '/downloads/RubyUsersColocation__sheet.pdf', :target => '_blank')
          %p As Minnesota's IT Solutions Provider, Atomic Data is a proud sponsor of the Ruby Users of Minnesota. Atomic Data offers a wide range of private cloud services and is dedicated to helping businesses take control of their IT infrastructure and data. They specialize in moving businesses to the cloud, hosting network data, providing 24/7/365 security and Help Desk support, and assisting in iPad deployments; all while keeping it simple, safe and smart.
          %p Learn more at #{ link_to 'www.atomicdata.com', 'http://www.atomicdata.com' }. Call them at 612-466-2000 or email at #{ mail_to 'info@atomicdata.com', 'info@atomicdata.com' }
