
.introduction
  %h1 Our Sponsors
  
  %p We are fortunate to have great community sponsors that provide refreshments for our monthly meetings.  Please take a look at what they have to offer and remeber to say "thanks" when you see them at our meetings.  Also be sure to checkout the <a href="/special-offers"><strong>Offers page</strong></a> for services from our sponsors, tailored specifically for Ruby Users of Minnesota.
.sponsors
  %ul
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/ATOMICNameWhite_405.png'), 'http://atomicdatacenters.com', :target => '_blank')
        .info
          %p ATOMIC has been in the network service and data service business since 2001. Over time, we have built a reputation as an IT partner chiefly concerned about the success of your company.
          %p We do not provide solutions just because we get to implement the newest or coolest technology. Instead, we have built our business by providing solutions that meet your company's needs, within your company's budget.
          %p Atomic has Data Centers in Minneapolis, Edina, Phoenix, Atlanta, Los Angeles, Hong Kong, and Madrid
          %p Call them at <span class="callout">952-548-5780</span> or email <a href="mailto:helpdesk@atomicdatacenters.com">helpdesk@atomicdatacenters.com</a>
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/oneplace_275w.png'), 'http://www.oneplacehome.com/', :target => '_blank')
        .info
          %p <a href="www.oneplacehome.com">OnePlace</a> is an online business collaboration solution that connects the members of an organization so they can complete more work, together. OnePlace builds stronger relationships through improved communication, collaboration and transparency. This robust, easy-to-use online solution helps business teams manage and complete their projects efficiently. With OnePlace, improved collaboration and communication creates astounding results.
          %p For further information, visit the web site at <a href="www.oneplacehome.com">www.oneplacehome.com</a>
%h2.past-sponsors Community Sponsors
.past-sponsors
  %ul
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/tstmedia-logo3_150w.png'), 'http://www.tstmedia.com/', :target => '_blank')
        .info-hidden
          %p TST Media creates feature-rich solutions to online challenges faced by organizations and their members. We're best known as the team responsible for <a href="http://www.ngin.com/">NGIN</a>:
          %p <a href="http://www.ngin.com/">NGIN (pronounced "Engine")</a> is more than just a website- it is a robust suite of easy-to-use, timesaving tools that empower organizations and their members to connect online like never before.
          %p Contact them at 612-379-1030 or take a look at <a href="http://www.tstmedia.com/page/show/78557-contact">their contact page</a>
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/Wiscota-Logo.png'), 'http://www.wiscota.com/services', :target => '_blank')
          .info-hidden
            %p 

      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/FNDTN-horiz.png'), 'http://fndtn.com', :target => '_blank')
          .info-hidden
            %p The Foundation provide IT services to the creative industry.  They do it all - help desk, maintencance, implementation, network monitoring, and client and vendor management - check out their <a href='http://fndtn.com/services/'>services page</a> for more detail.
            %p They also offer the <a href="http://fndtn.com/apple-depot/">Apple Depot</a> - Apple Authorized Service Provider drop-off repair shop for non-emergency and warranty repairs.  A gret alternative to the Genius Bar.
            %p Call them at <span class="callout">612-465-0700</span> or email <a href="mailto:info@fndtn.com">info@fndtn.com</a>
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/recursive_awesome.png'), 'http://recursiveawesome.com', :target => '_blank')
          .info
            %p 
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/1543AD.png'), 'http://1543ad.com/', :target => '_blank')
          .info
            %p 
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/engineyard.png'), 'http://www.engineyard.com/', :target => '_blank')
          .info
            %p 
      %li
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/drivetrain_150w.png'), 'http://drivetrainagency.com/', :target => '_blank')
          .info
            %p
      %li
    
