.introduction
  %h1 Our Sponsors

  %p We are fortunate to have great community sponsors that provide refreshments for our monthly meetings.  Please take a look at what they have to offer and remeber to say "thanks" when you see them at our meetings.  Also be sure to checkout the <a href="/special-offers"><strong>Offers page</strong></a> for services from our sponsors, tailored specifically for Ruby Users of Minnesota.
.sponsors
  %ul
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/ATOMICNameWhite_405.png'), 'http://www.atomicdata.com', :target => '_blank')
        .info
          %p As Minnesota's IT Solutions Provider, Atomic Data is a proud sponsor of the Ruby Users of Minnesota. Atomic Data offers a wide range of private cloud services and is dedicated to helping businesses take control of their IT infrastructure and data. They specialize in moving businesses to the cloud, hosting network data, providing 24/7/365 security and Help Desk support, and assisting in iPad deployments; all while keeping it simple, safe and smart.
          %p Learn more at #{ link_to 'www.atomicdata.com', 'http://www.atomicdata.com' }. Call them at 612-466-2000 or email at #{ mail_to 'info@atomicdata.com', 'info@atomicdata.com' }

      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/code42_logo.png'), 'http://code42.com', :target => '_blank')
          .info
            %p Starting out as a software development company in 2001, #{ link_to "Code 42 Software", "http://code42.com" } is the creator of CrashPlan, CrashPlan PRO, and PROe award-winning onsite, offsite and cloud backup solution for home, businesses, and enterprise.

%h2.past-sponsors Community Sponsors
.past-sponsors
  %ul
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/zencoder_150w.png'), 'http://zencoder.com/', :target => '_blank')
        .info-hidden
          %p #{link_to "Zencoder", "http://zencoder.com/"} - Easy-to-use, blazing fast video encoding for your app.
          %p Zencoder is designed to be incredibly powerful where it matters and dead simple whenever possible. Our encoding engine features extremely fast encoding, industry leading reliability and unmatched input file compatibility. Our simple web services API provides access to a high performance video encoding cloud that scales to your needs.  For further information, visit them at #{ link_to "zencoder.com", "http://zencoder.com/" }
    %li
      .sponsor
        .logo
          = link_to(image_tag('sponsors/Wiscota-Logo.png'), 'http://www.wiscota.com/services', :target => '_blank')
          .info-hidden
            %p

      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/ATOMICNameWhite.png'), 'http://atomicdatacenters.com', :target => '_blank')
          .info-hidden
            %p ATOMIC has been in the network service and data service business since 2001. Over time, we have built a reputation as an IT partner chiefly concerned about the success of your company.
            %p We do not provide solutions just because we get to implement the newest or coolest technology. Instead, we have built our business by providing solutions that meet your company's needs, within your company's budget.
            %p Atomic has Data Centers in Minneapolis, Edina, Phoenix, Atlanta, Los Angeles, Hong Kong, and Madrid
            %p Call them at <span class="callout">952-548-5780</span> or email <a href="mailto:helpdesk@atomicdatacenters.com">helpdesk@atomicdatacenters.com</a>
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/recursive_awesome.png'), 'http://recursiveawesome.com', :target => '_blank')
          .info
            %p
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/1543AD.png'), 'http://1543ad.com/', :target => '_blank')
          .info
            %p
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/engineyard.png'), 'http://www.engineyard.com/', :target => '_blank')
          .info
            %p
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/oneplace_275w.png'), 'http://www.oneplacehome.com/', :target => '_blank')
          .info-hidden
            %p #{ link_to "OnePlace", "http://www.oneplacehome.com" } is an online business collaboration solution that connects the members of an organization so they can complete more work, together. OnePlace builds stronger relationships through improved communication, collaboration and transparency. This robust, easy-to-use online solution helps business teams manage and complete their projects efficiently. With OnePlace, improved collaboration and communication creates astounding results.
            %p For further information, visit the web site at #{ link_to "www.oneplacehome.com", "http://www.oneplacehome.com" }
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/drivetrain_150w.png'), 'http://drivetrainagency.com/', :target => '_blank')
          .info
            %p
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/zencoder_150w.png'), 'http://zencoder.com/', :target => '_blank')
          .info-hidden
            %p #{link_to "Zencoder", "http://zencoder.com/"} - Easy-to-use, blazing fast video encoding for your app.
            %p Zencoder is designed to be incredibly powerful where it matters and dead simple whenever possible. Our encoding engine features extremely fast encoding, industry leading reliability and unmatched input file compatibility. Our simple web services API provides access to a high performance video encoding cloud that scales to your needs.  For further information, visit them at #{ link_to "zencoder.com", "http://zencoder.com/" }
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/KRCLogoTransparent_143.png'), 'http://kettleriverconsulting.com', :target => '_blank')
          .info-hidden
            %p Kettle River is focused on building rock-solid infrastructure from mobile apps and web presentation all the way back to the database. Scalability, stability, security, and manageability is our specialty.
            %p We develop on the Java, Grails, RoR, and PHP platforms. Mobile platforms include iOS, Android, and Blackberry.
            %p Our consultants understand business systems and know how to build technology solutions that meet your business goals. We can then run those systems on your behalf. Kettle River is a firm that runs systems world-wide so we have a global reach but a local presence in the Minneapolis/St Paul area.
            %p Call them at 612-605-1977 or email #{ mail_to 'sales@krc.mn' }
      %li
        .sponsor
          .logo
            = link_to(image_tag('sponsors/clearBasecampLogo.png', :class => 'clear_logo'), 'http://clearsfg.com', :target => '_blank')
          .info-hidden
            %p Clear strives to make the world a better place by building great software for companies doing great things.  A software development firm that specializes in web and mobile applications for progressive and forward thinking clients. Using cutting-edge, open source tools like Ruby on Rails to reduce clients' costs and accelerate their time to market. Clear can positively affect change by helping like-minded companies be successful. #{ link_to "Contact Clear", "http://clearsfg.com/" }
      %li
        .sponsor
          .logo
          .info-hidden
