%h1 
  This archive has been discontinued.
%h2
  Newer messages can be viewed and searched at 
  %a{:href=>'http://dir.gmane.org/gmane.comp.lang.ruby.region.minnesota'}
    GMANE.org


= render :partial=>'search_form'
%h1
  Search Results for
  = "'#{h(session[:last_search])}'"
  found
  = @results.total
  results.

=pagination_links @lm_pages

.items
  = render :collection=>@results, :partial=>'mail'
