!!!
%html
  %head
    %link{ :rel =>"shortcut icon",  :href => "/favicon.ico" }
    /%link{ :rel => 'alternate', :href => '/pevents/rss', :type => 'application/rss+xml', :title => "Ruby Users of Minnesota Feed" }

    %title Ruby Users of Minnesota

    %meta{ :content => 'Ruby Users of Minnesota is a monthly meeting held by programmers discussing varied topics', :name => 'description' }
    %meta{ :content => 'ruby, ruby on rails, minnesota, minneapolis, st. paul, rum', :name => 'keywords' }
    %meta{ :content => 'all,follow', :name => 'robots' }
    %meta{ :content => 'Ruby Users of Minnesota', :lang => 'en', :name => 'author' }
    = csrf_meta_tags

    = stylesheet_link_tag 'application'
    = yield :after_stylesheets
    /[if lte IE 0]
      = stylesheet_link_tag 'ie'
  %body
    #header
      .logo
        %h1 Ruby Users of Minnesota
        = image_tag 'header_background.png', :id => 'main_header_logo'
      #navigation= render 'shared/navigation'
    .wrapper
      .inner
        #body
          #left-column
            = render 'shared/flash_messages'
            = yield
          #right-column
            = render 'shared/sidebar'
          .clear
          #bottom
            %h3
              %a{ :name => 'meeting-info', :id => 'meeting-info' } Meeting Location
            %p
              The group meets the
              %strong last Monday of each month at 7 PM
              (come early to hack Ruby code) at the Refactr office in NE Minneapolis (above the Bulldog restaurant and bar).
            #container
              #map
                %iframe{ :width => '420', :height => '350', :frameborder => '0', :scrolling => 'no', :src => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=110795490152792313911.00044058471e2e0d3f1c0&om=0&ll=44.988666,-93.254855&spn=0,0&output=embed&s=AARTsJpJhpAEX63WWk35O0Ydu7bNR3mOeA' }
              #meeting-place
                %h2.refactr= link_to 'Refactr', 'http://www.refactr.com'
                %p.address
                  %strong Eleven Fourth Street NE
                  %br/
                  Suite 300
                  %br/
                  Minneapolis, MN 55413
                  %br/
                  Phone: 612-605-9740
    #footer
      .inner
        #copyright
          &copy; #{Time.now.year} #{link_to 'Ruby Users of Minnesota', '/'}
        #credits
          Site credits #{ link_to 'mml', 'http://www.loonsoft.com' } #{ content_tag :span, '&amp;'.html_safe, :class => :amp } #{link_to '@marknutter', 'http://nuttersmark.com/'} #{ content_tag :span, '&amp;'.html_safe, :class => :amp } #{link_to '@webandy', 'http://webandy.com/'} #{ content_tag :span, '&amp;'.html_safe, :class => :amp } #{link_to '@jrmehle', 'http://twitter.com/jrmehle'}
          Hosting provided by #{ link_to 'Heroku', "http://www.heroku.com" }

    = javascript_include_tag 'application'
    = yield :after_javascripts
    = render 'shared/google_analytics'
