%html{html_attrs}
  %head
    %link{:rel => 'alternate', :href => '/pevents/rss', :type => 'application/rss+xml', :title => "Ruby Users of Minnesota Feed"}
    %title
      Ruby Users of Minnesota
    %meta{:content => 'Ruby Users of Minnesota is a monthly meeting held by programmers discussing varied topics', :name => 'description'}
    %meta{:content => 'ruby, ruby on rails, minnesota, minneapolis, st. paul, rum', :name => 'keywords'}
    %meta{:content => 'all,follow', :name => 'robots'}
    %meta{:content => 'Ruby Users of Minnesota', :lang => 'en', :name => 'author'}
    = stylesheet_link_tag 'reset', 'typography', 'application' 
    = javascript_include_tag 'jquery-1.3.2.min', 'application'
    = javascript_include_tag 'jsWidgets/jsWidget'
  %body
    #header
      .logo
        %h1= "Ruby Users of Minnesota"
        = image_tag 'header_background.png', :id => 'main_header_logo'
      #navigation
        %ul
          %li= "<a href='#{root_path}' class='#{"selected" if current_page?(root_path)}'><strong>Home</strong><p>Welcome and Events</p></a>"
          %li= "<a href='#{projects_path}' class='#{"selected" if current_page?(projects_path)}'><strong>Members</strong><p>People and Projects</p></a>"
          %li= "<a href='#{for_hires_path}' class='#{"selected" if current_page?(for_hires_path)}'><strong>For Hire</strong><p>Developers for hire</p></a>"
          %li= "<a href='#{openings_path}' class='#{"selected" if current_page?(openings_path)}'><strong>Need Help?</strong><p>Seeking developers</p></a>"
    .wrapper
      .inner
        #body
          #left-column
            - if flash[:success]
              .success= flash[:success]
            - if flash[:notice]
              .notice= flash[:notice]
            - if flash[:error]
              .error= flash[:error]
            = yield
          #right-column
            = render(:partial => "shared/sidebar")
          .clear
          #bottom
            %h3= "<a name='meeting-info'>Meeting Location</a>"
            %p= "The group meets the <strong>last Monday of each month at 7 PM</strong> (come early to hack Ruby code) at the Refactr office in NE Minneapolis (above the Bulldog restaurant and bar)."
            #container
              #map
                %iframe{:width => "420", :height => "350", :frameborder => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=110795490152792313911.00044058471e2e0d3f1c0&amp;om=0&amp;ll=44.988666,-93.254855&amp;spn=0,0&amp;output=embed&amp;s=AARTsJpJhpAEX63WWk35O0Ydu7bNR3mOeA"}
              #meeting-place
                %h2.refactr= "#{link_to 'Refactr', 'http://www.refactr.com'}"
                %p.address
                  = "<strong>Eleven Fourth Street NE</strong>"
                  %br
                  = "Suite 300"
                  %br
                  = "Minneapolis, MN 55413"
                  %br
                  = "Phone: 612-605-9740"
    #footer
      .inner
        #copyright
          = "&copy; #{Time.now.year} #{link_to 'Ruby Users of Minnesota', '/'}"
        #credits
          = "Site credits #{link_to 'mml', 'http://www.loonsoft.com'} <span class='amp'>&amp;</span> #{link_to '@marknutter', 'http://nuttersmark.com/'} <span class='amp'>&amp;</span> #{link_to '@webandy', 'http://webandy.com/'}"
          = "Hosting provided by #{link_to 'Heroku', "http://www.heroku.com"}"
    %script{ :src=>"http://www.google-analytics.com/urchin.js", :type=>"text/javascript"}
    :javascript
      _uacct = "UA-755912-2";
      urchinTracker();
