!!!
%html
  %head
    %link{ :rel =>"shortcut icon",  :href => "/favicon.ico" }
    /%link{ :rel => 'alternate', :href => '/pevents/rss', :type => 'application/rss+xml', :title => "Ruby Users of Minnesota Feed" }

    %title Ruby Users of Minnesota

    %meta{ :content => 'Ruby Users of Minnesota is a monthly meeting held by programmers discussing varied topics', :name => 'description' }
    %meta{ :content => 'ruby, ruby on rails, minnesota, minneapolis, st. paul, rum', :name => 'keywords' }
    %meta{ :content => 'all,follow', :name => 'robots' }
    %meta{ :content => 'Ruby Users of Minnesota', :lang => 'en', :name => 'author' }
    = csrf_meta_tags

    = stylesheet_link_tag 'application'
    = yield :after_stylesheets
    /[if lte IE 0]
      = stylesheet_link_tag 'ie'
  %body
    #header
      .logo
        %h1 Ruby Users of Minnesota
        = image_tag 'header_background.png', :id => 'main_header_logo'
      #navigation= render 'shared/navigation'
    .wrapper
      .inner
        #body
          #left-column
            = debug(params) if Rails.env.development?
            = render 'shared/flash_messages'
            = yield
          #right-column
            = render 'shared/sidebar'
          .clear
          #bottom
            %h3
              %a{ :name => 'meeting-info', :id => 'meeting-info' } *NEW* Meeting Location
            %p
              The group meets the
              %strong last Monday of each month at 7 PM
              (come early to hack Ruby code) above 
              %strong
                =link_to 'Day Block Brewery', 'https://www.dayblockbrewing.com'
              in the event center in downtown Minneapolis.
            #container
              #map
                %a{href: 'https://www.google.com/maps/place/Day+Block+Brewing+Company/@44.975189,-93.253061,17z/data=!3m1!4b1!4m2!3m1!1s0x52b32d180dd79f09:0x38dbd00185981f45', target: '_blank'}
                  %img{src: 'http://maps.googleapis.com/maps/api/staticmap?size=420x350&maptype=roadmap\&markers=size:mid%7Ccolor:red%7CDay%20Block%20Brewery%201105%20Washington%20Ave%20S,Minneapolis,%20MN%2055415&sensor=false'}
              #meeting-place
                %h2.dayblock= link_to 'Day Block Brewery', 'https://www.dayblockbrewing.com/'
                %p.address
                  %strong=link_to '1105 Washington Ave S.', 'https://www.dayblockbrewing.com'
                  %br/
                  Second Floor
                  %br/
                  Minneapolis, MN 55415
                  %br/
                  Phone: 612-207-6622
    #footer
      .inner
        #copyright
          &copy; #{Time.now.year} #{link_to 'Ruby Users of Minnesota', '/'}
        #credits
          Site credits 
          =link_to 'mml', 'http://www.loonsoft.com' 
          %span.amp &amp;
          =link_to '@marknutter', 'http://nuttersmark.com/'
          %span.amp &amp;
          =link_to '@webandy', 'http://webandy.com/'
          %span.amp &amp;
          =link_to '@jrmehle', 'http://twitter.com/jrmehle'
          %span.amp &amp;
          =link_to '@caseyhelbling', 'http://softwareforgood.com'
          Hosting provided by #{ link_to 'Heroku', "http://www.heroku.com" }

    = javascript_include_tag 'application'
    = yield :after_javascripts
    = render 'shared/google_analytics'

